---
import Layout from "../layouts/Layout.astro";
import Bebida from "../components/Bebidas.astro";
import botellaRon from "../images/Appleton_Estate.jpg";
import toroBravo from "../images/tequila/toro-bravo.png";
---

<h1>TEQUILA</h1>
<div class="numero-2">
    <div class="grid-1">
        <div class="bebida">
            <Bebida
                tituloBebida="Toro Bravo"
                ingredientes="Ingredientes: - 2oz tequila - 3oz licor de cafe - twist de limon"
                metodo="Verter tequila como base, agregar licor de cafe y decorar con twist "
            />
        </div>
        <div class="imagen-coctel">
            <img src={toroBravo.src} alt="botella" />
        </div>

        <div class="bebida-2">
            <Bebida
                tituloBebida="Tequila Sunrise"
                ingredientes="Ingredientes: - 3oz tequila - Granadina - Jugo de naranja"
                metodo="En un vaso con hielos verter tequila, rellenar con jugo de naranja, agregar dash de granadina "
            />
        </div>
        <div class="imagen-coctel-2">
            <img src={botellaRon.src} alt="botella" />
        </div>
    </div>

    <div class="grid-1">
        <div class="bebida">
            <Bebida
                tituloBebida="Margarita"
                ingredientes="Ingredientes: - 3oz de tequila - 2oz jugo de limon - 2 1/2 oz de jarabe natural - 2 1/2 oz de licos de naranja"
                metodo="Escarchar el vaso (azúcar o sal) licuar todos los ingredientes hasta obtener el punto frozen "
            />
        </div>
        <div class="imagen-coctel">
            <img src={botellaRon.src} alt="botella" />
        </div>
        <div class="bebida-2">
            <Bebida
                tituloBebida="Blue Margarita"
                ingredientes="Ingredientes: - 3oz tequila - 2oz jugo de limon - 2 1/2oz de jarabe natural - 2 oz licor de naranja - Curacao"
                metodo="Escarchar el vaso (azúcar o sal) licuar todos los ingredientes hasta obtener el punto frozen agregar curacao y licuar "
            />
        </div>
        <div class="imagen-coctel-2">
            <img src={botellaRon.src} alt="botella" />
        </div>
    </div>
    <!-- Elemento 3 -->
    <div class="grid-1">
        <div class="bebida">
            <Bebida
                tituloBebida="Paloma"
                ingredientes="Ingredientes: - 2oz tequila - Refresco de toronja - 1oz de jugo de limon - sal"
                metodo="Escarchar vaso con sal, agregar hielo a tope verter tequila y jugo de limón, rellenar con refresco"
            />
        </div>
        <div class="imagen-coctel">
            <img src={botellaRon.src} alt="botella" />
        </div>
        <div class="bebida-2">
            <Bebida
                tituloBebida="Tequila Sunrise con Hierbabuena"
                ingredientes="Ingredientes: - 3oz tequila - Granadina - Jugo de naranja - Hierbabuena"
                metodo="En un vaso con hielos verter tequila, rellenar con jugo de naranja, agregar dash de granadina agregar hojas o infusión de hierbabuena"
            />
        </div>
        <div class="imagen-coctel-2">
            <img src={botellaRon.src} alt="botella" />
        </div>
    </div>
    <!-- Elemento 4 -->
    <div class="grid-1">
        <div class="bebida">
            <Bebida
                tituloBebida="Iguana Green"
                ingredientes="Ingredientes: - 1 1/4 oz tequila - 1oz de midori - 1oz jarabe natural - 1/4 jugo de limon - Agua mineral"
                metodo="Escarchar el vaso (azúcar) verter tequila agregar jarabe natural, agregar midori agregar jugo de limón, rellenar con agua mineral"
            />
        </div>
        <div class="imagen-coctel">
            <img src={botellaRon.src} alt="botella" />
        </div>
        <div class="bebida-2">
            <Bebida
                tituloBebida="TNT"
                ingredientes="Ingredientes: - 2oz tequila - 1oz de jugo de limon - Chamoy - Refresco de toronja - Agua mineral - Chile en polvo"
                metodo="Escarchar el vaso (chamoy y poquin) verter tequila, agregar jugo de limón rellenar con refresco"
            />
        </div>
        <div class="imagen-coctel-2">
            <img src={botellaRon.src} alt="botella" />
        </div>
    </div>
    <!-- Elemento 5 -->
    <div class="grid-1">
        <div class="bebida">
            <Bebida
                tituloBebida="Malinche"
                ingredientes="Ingredientes: - 2oz tequila - Pure de mango - Jugo de arandano"
                metodo="Agregar tequila a la licuadora, agregar puré de mango y jugo de arándano, licuar con hielo a punto frozen  "
            />
        </div>
        <div class="imagen-coctel">
            <img src={botellaRon.src} alt="botella" />
        </div>
        <div class="bebida-2">
            <Bebida
                tituloBebida="Rosa Mexicana"
                ingredientes="Ingredientes: - 2 1/2oz de tequila - Jugo de naranja - Pure de granadina - Jugo de granada - Jugo de limon - Tuna roja/pitaya"
                metodo="Agregar tequila a la licuadora, puré de guanabana, tuna roja/pitaya, jugo de naranja jugo de limón, jugo de granada, y licuar a punto frozen "
            />
        </div>
        <div class="imagen-coctel-2">
            <img src={botellaRon.src} alt="botella" />
        </div>
    </div>
    <!-- Elemento 6 -->
    <div class="grid-1">
        <div class="bebida">
            <Bebida
                tituloBebida="Abuela"
                ingredientes="Ingredientes: - 1 1/4 tequila - Jugo de arandano - Salsa inglesa - Clamato - Jugo de limon - Cerveza - Chamoy - Miguelito"
                metodo="Escarchar el vaso con chamoy y miguelito, verter jugo de limón, agregar clamato y los dash de salsa maggie e inglesa, revolver con la cuchara y finalizar rellenando con cerveza "
            />
        </div>
        <div class="imagen-coctel">
            <img src={botellaRon.src} alt="botella" />
        </div>
        <div class="bebida-2">
            <Bebida
                tituloBebida="Me he de comer esa Tuna"
                ingredientes="Ingredientes: - 2 1/2 oz de tequila - Jarabe natural - Pure de Guanabana - Granos de granada - Jugo de limon - Tuna verde"
                metodo="En la licuadora agregar tequila, jarabe natural puré de guanábana, tuna un poco de jugo de limón licuar a punto frozen y en el vaso decorar con la granada "
            />
        </div>
        <div class="imagen-coctel-2">
            <img src={botellaRon.src} alt="botella" />
        </div>
    </div>
    <style>
        h1 {
            text-align: center;
            font-size: 4em;
            font-weight: bold;
            font-family: Georgia, "Times New Roman", Times, serif;
            color: azure;
            text-shadow: 2px 2px 1px rgb(0, 255, 255);
        }
        .grid-1 {
            margin: 2em;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
        }
        .bebida {
            grid-area: 1 / 1 / 2 / 2;
            padding: 0.5em;
            margin: 1.5em;
        }
        .imagen-coctel {
            grid-area: 2 / 1 / 3 / 2;
            text-align: center;
        }
        .bebida-2 {
            grid-area: 1/ 2 / 2 / 3;
            padding: 0.5em;
            margin: 1.5em;
        }
        .imagen-coctel-2 {
            grid-area: 2 / 2 / 3 / 3;
            text-align: center;
        }
        .imagen-coctel-2 img {
            width: 12em;
            height: 20em;
            margin: 1em;
            border-radius: 10px;
        }
        .imagen-coctel img {
            width: 12em;
            height: 20em;
            margin: 1em;
            border-radius: 10px;
        }
        .imagen-cocteles {
            text-align: center;
        }
        img {
            border-radius: 1em;
        }
    </style>
</div>
