---
import Bebida from "../components/Bebidas.astro";
import botellaRon from "../images/Appleton_Estate.jpg";
import toroBravo from "../images/tequila/toro-bravo.png";
import Margarita from "../images/tequila/margarita.jpg";
import Blue from "../images/tequila/blue-margarita.jpg";
import Sun from "../images/tequila/sunrise.jpg";
import SunriseH from "../images/tequila/sunrise-hierbabuena.jpg";
import Iguana from "../images/tequila/iguana-green.jpg";
import Abuela from "../images/tequila/abuela.jpg";
import TNT from "../images/tequila/TNT2.jpg";
import Malinche from "../images/tequila/malinche.jpg";
import Paloma from "../images/tequila/Paloma.jpg"
import Toro from "../images/tequila/Toro.jpg";
import Tuna from "../images/tequila/tuna.jpg"
import Rosa from "../images/tequila/Rosa.jpg";

import Header from "../components/Header.astro";
---

<style>
    *{
box-sizing: border-box;
    } 
    body, html {
    overflow-x: hidden;
}
    main {
        font-family: gabarito;
    }
    body {
        font-family: gabarito;
        margin: 0px;
        padding: 0px;
        /*background-color: rgb(0, 80, 53);*/
        background-color: rgb(118, 0, 0);
        background-image: url("../components/ruidoBackground.png");
    }
    header{
        width: 100%;
    }
    h1 {
        text-align: center;
        font-size: 4em;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 1px rgb(255, 0, 0);
    }
    .grid-1 {
        margin: 2em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .bebida {
        grid-area: 1 / 1 / 2 / 2;
        padding: 0.5em;
        margin: 1.5em;
    }
    .imagen-coctel {
        grid-area: 2 / 1 / 3 / 2;
        text-align: center;
    }
    .bebida-2 {
        grid-area: 1/ 2 / 2 / 3;
        padding: 0.5em;
        margin: 1.5em;
    }
    .imagen-coctel-2 {
        grid-area: 2 / 2 / 3 / 3;
        text-align: center;
    }
    .imagen-coctel-2 img {
        width: 350px;
        height: 370px;
        margin: 1em;
        border-radius: 10px;
    }
    .imagen-coctel img {
        width: 350px;
        height: 375px;
        margin: 1em;
        border-radius: 10px;
    }
    .imagen-cocteles {
        text-align: center;
    }
    img {
        border-radius: 1em;
    }
    @media (max-width: 800px) {
        .imagen-coctel img {
            width: 11em;
            height: 19em;
            margin: 2.5em;
            border-radius: 10px;
        }
        .grid-1 {
            margin: 1.2em;
            display: grid;
            grid-template-rows: repeat(4, 1fr);
            grid-template-columns: 1fr;
        }
        .bebida {
            grid-area: 1 / 1 / 2 / 2;
            padding: 1em;
            margin: 1.5em;
        }
        .bebida-2 {
            grid-area: 3 / 1 / 4 / 2;
            padding: 1em;
            margin: 1.5em;
        }
        .imagen-coctel {
            text-align: center;
            grid-area: 2/ 1 / 3 / 2;
        }
        .imagen-coctel-2 {
            text-align: center;
            grid-area: 4 / 1 / 5 / 2;
        }
    }
    @media (max-width: 410px) {
        .grid-1 {
            margin: 0px;
            display: grid;
            grid-template-rows: repeat(4, 1fr);
            grid-template-columns: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
        }
    }
</style>
<head>
    <html lang="es">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap"
            rel="stylesheet"
        />
    </html>
</head>
<body>
    <div class="header">
        <Header />
    </div>
    
    <h1>TEQUILA</h1>
    
    <div class="numero-2">
        <div class="grid-1">
            <div class="bebida">
                <Bebida
                    tituloBebida="Toro Bravo"
                    dificultad="Dificultad: ⭐⭐⭐⭐"
                    ingredientes="Ingredientes: - 2oz tequila - 3oz licor de cafe - twist de limón"
                    metodo="Verter tequila como base, agregar licor de cafe y decorar con twist"
                />
            </div>
            <div class="imagen-coctel">
                <img src={Toro.src} alt="botella" />
            </div>

            <div class="bebida-2">
                <Bebida
                    tituloBebida="Tequila Sunrise"
                    dificultad="Dificultad: ⭐⭐⭐⭐"
                    ingredientes="Ingredientes: - 3oz tequila - Granadina - Jugo de naranja"
                    metodo="En un vaso con hielos verter tequila, rellenar con jugo de naranja, agregar dash de granadina"
                />
            </div>
            <div class="imagen-coctel-2">
                <img src={Sun.src} alt="botella" />
            </div>
        </div>

        <div class="grid-1">
            <div class="bebida">
                <Bebida
                    tituloBebida="Margarita"
                    dificultad="Dificultad: ⭐⭐⭐⭐"
                    ingredientes="Ingredientes: - 3oz de tequila - 2oz jugo de limón - 2 1/2 oz de jarabe natural - 2 1/2 oz de licor de naranja"
                    metodo="Escarchar el vaso (azúcar o sal) licuar todos los ingredientes hasta obtener el punto frozen"
                />
            </div>
            <div class="imagen-coctel">
                <img src={Margarita.src} alt="botella" />
            </div>

            <div class="bebida-2">
                <Bebida
                    tituloBebida="Blue Margarita"
                    dificultad="Dificultad: ⭐⭐⭐⭐"
                    ingredientes="Ingredientes: - 3oz tequila - 2oz jugo de limón - 2 1/2oz de jarabe natural - 2 oz licor de naranja - Curacao"
                    metodo="Escarchar el vaso (azúcar o sal) licuar todos los ingredientes hasta obtener el punto frozen, agregar curacao y licuar"
                />
            </div>
            <div class="imagen-coctel-2">
                <img src={Blue.src} alt="botella" />
            </div>
        </div>

        <!-- Elemento 3 -->
        <div class="grid-1">
            <div class="bebida">
                <Bebida
                    tituloBebida="Paloma"
                    dificultad="Dificultad: ⭐⭐⭐⭐"
                    ingredientes="Ingredientes: - 2oz tequila - Refresco de toronja - 1oz de jugo de limón - sal"
                    metodo="Escarchar vaso con sal, agregar hielo a tope, verter tequila y jugo de limón, rellenar con refresco"
                />
            </div>
            <div class="imagen-coctel">
                <img src={Paloma.src} alt="botella" />
            </div>

            <div class="bebida-2">
                <Bebida
                    tituloBebida="Tequila Sunrise con Hierbabuena"
                    dificultad="Dificultad: ⭐⭐⭐⭐"
                    ingredientes="Ingredientes: - 3oz tequila - Granadina - Jugo de naranja - Hierbabuena"
                    metodo="En un vaso con hielos verter tequila, rellenar con jugo de naranja, agregar dash de granadina, agregar hojas o infusión de hierbabuena"
                />
            </div>
            <div class="imagen-coctel-2">
                <img src={SunriseH.src} alt="botella" />
            </div>
        </div>

        <!-- Elemento 4 -->
        <div class="grid-1">
            <div class="bebida">
                <Bebida
                    tituloBebida="Iguana Green"
                    dificultad="Dificultad: ⭐⭐⭐⭐"
                    ingredientes="Ingredientes: - 1 1/4 oz tequila - 1oz de midori - 1oz jarabe natural - 1/4 jugo de limón - Agua mineral"
                    metodo="Escarchar el vaso (azúcar), verter tequila, agregar jarabe natural, agregar midori, agregar jugo de limón, rellenar con agua mineral"
                />
            </div>
            <div class="imagen-coctel">
                <img src={Iguana.src} alt="botella" />
            </div>

            <div class="bebida-2">
                <Bebida
                    tituloBebida="TNT"
                    dificultad="Dificultad: ⭐⭐⭐⭐"
                    ingredientes="Ingredientes: - 2oz tequila - 1oz de jugo de limón - Chamoy - Refresco de toronja - Agua mineral - Chile en polvo"
                    metodo="Escarchar el vaso (chamoy y poquin), verter tequila, agregar jugo de limón, rellenar con refresco"
                />
            </div>
            <div class="imagen-coctel-2">
                <img src={TNT.src} alt="botella" />
            </div>
        </div>

        <!-- Elemento 5 -->
        <div class="grid-1">
            <div class="bebida">
                <Bebida
                    tituloBebida="Malinche"
                    dificultad="Dificultad: ⭐⭐⭐⭐"
                    ingredientes="Ingredientes: - 2oz tequila - Puré de mango - Jugo de arándano"
                    metodo="Agregar tequila a la licuadora, agregar puré de mango y jugo de arándano, licuar con hielo a punto frozen"
                />
            </div>
            <div class="imagen-coctel">
                <img src={Malinche.src} alt="botella" />
            </div>

            <div class="bebida-2">
                <Bebida
                    tituloBebida="Rosa Mexicana"
                    dificultad="Dificultad: ⭐⭐⭐⭐"
                    ingredientes="Ingredientes: - 2 1/2oz de tequila - Jugo de naranja - Puré de granadina - Jugo de granada - Jugo de limón - Tuna roja/pitaya"
                    metodo="Agregar tequila a la licuadora, puré de guanábana, tuna roja/pitaya, jugo de naranja, jugo de limón, jugo de granada, y licuar a punto frozen"
                />
            </div>
            <div class="imagen-coctel-2">
                <img src={Rosa.src} alt="botella" />
            </div>
        </div>

        <!-- Elemento 6 -->
        <div class="grid-1">
            <div class="bebida">
                <Bebida
                    tituloBebida="Abuela"
                    dificultad="Dificultad: ⭐⭐⭐⭐"
                    ingredientes="Ingredientes: - 1 1/4 tequila - Jugo de arándano - Salsa inglesa - Clamato - Jugo de limón - Cerveza - Chamoy - Miguelito"
                    metodo="Escarchar el vaso con chamoy y miguelito, verter jugo de limón, agregar clamato y los dash de salsa maggie e inglesa, revolver con la cuchara y finalizar rellenando con cerveza"
                />
            </div>
            <div class="imagen-coctel">
                <img src={Abuela.src} alt="botella" />
            </div>

            <div class="bebida-2">
                <Bebida
                    tituloBebida="Me he de comer esa Tuna"
                    dificultad="Dificultad: ⭐⭐⭐⭐"
                    ingredientes="Ingredientes: - 2 1/2 oz de tequila - Jarabe natural - Puré de guanábana - Granos de granada - Jugo de limón - Tuna verde"
                    metodo="En la licuadora agregar tequila, jarabe natural, puré de guanábana, tuna, un poco de jugo de limón, licuar a punto frozen y en el vaso decorar con la granada"
                />
            </div>
            <div class="imagen-coctel-2">
                <img src={Tuna.src} alt="botella" />
            </div>
        </div>
    </div>
</body>
