---
import Bebida from "../components/Bebidas.astro";
import botellaRon from "../images/Appleton_Estate.jpg";
---

<div class="numero-2">
    <div class="grid-1">
        <div class="bebida">
            <Bebida
                tituloBebida="Medias de Seda"
                ingredientes="Ingredientes: - 2oz de Vodka - Licor de cafe - Leche clavel - Lechera - Granadina - Cereza"
                metodo="Se licuan los ingredientes con hielo a punto frozen, se puede decorar con cerezas "
            />
        </div>
        <div class="imagen-coctel">
            <img src={botellaRon.src} alt="botella" />
        </div>

        <div class="bebida-2">
            <Bebida
                tituloBebida="Panchecito"
                ingredientes="Ingredientes: - 1 oz de vodka - Jugo de arandano - Jugo de pina - Sprite - Granadina"
                metodo="..."
            />
        </div>
        <div class="imagen-coctel-2">
            <img src={botellaRon.src} alt="botella" />
        </div>
    </div>

    <div class="grid-1">
        <div class="bebida">
            <Bebida
                tituloBebida="Malibu Sunrise"
                ingredientes="Ingredientes: - Ron de coco - Curacao - Jugo de pina - Coco rallado"
                metodo="..."
            />
        </div>
        <div class="imagen-coctel">
            <img src={botellaRon.src} alt="botella" />
        </div>

        <div class="bebida-2">
            <Bebida
                tituloBebida="Espia Ruso"
                ingredientes="Ingredeintes: -  1 1/2 oz de vodka - Lechera - Baileys - Canela en polvo"
                metodo="..."
            />
        </div>
        <div class="imagen-coctel-2">
            <img src={botellaRon.src} alt="botella" />
        </div>
    </div>

    <div class="grid-1">
        <div class="bebida">
            <Bebida
                tituloBebida="Mula Moscovita"
                ingredientes="Ingredientes: - 2 1/2oz de vodka - Ginger ale"
                metodo="En un vaso con hielos agregar vodka y rellenar con ginger ale, revolver con cuchara "
            />
        </div>
        <div class="imagen-coctel">
            <img src={botellaRon.src} alt="botella" />
        </div>
        <div class="bebida-2">
            <Bebida
                tituloBebida="Poseidon"
                ingredientes="Ingredientes: -1oz de vodka - 1oz de ron - Agua minerla - Bebida energetizante - Curacao - Cerezas - Granadina"
                metodo="En un vaso con hielos agregar como base el vodka y el ron, rellenar a ¾ con agua mineral luego 1 ½ oz de bebida energizante y 1 oz de curacao, y dash de granadina decorar con cereza "
            />
        </div>
        <div class="imagen-coctel-2">
            <img src={botellaRon.src} alt="botella" />
        </div>
    </div>

    <div class="grid-1">
        <div class="bebida">
            <Bebida
                tituloBebida="Sex On The Beach"
                ingredientes="Ingredientes: - 1 a 2 oz de vodka - Jugo de granadina - Granadina "
                metodo="En un vaso con hielos agregar de 1 a 2 oz de vodka rellenar con naranja y un dash de granadina "
            />
        </div>
        <div class="imagen-coctel">
            <img src={botellaRon.src} alt="botella" />
        </div>
        <div class="bebida-2">
            <Bebida
                tituloBebida="Sangria"
                ingredientes="Ingredientes: - Jugo de limon - Jarabe natural - 1 1/2 oz de vodka - Agua mineral - Vino tinto"
                metodo="En el vaso agregar el vodka, rellenar con agua mineral a la mitad, agregar vino tinto aproximadamente a 3/4 , jarabe natural y jugo de limón "
            />
        </div>
        <div class="imagen-coctel-2">
            <img src={botellaRon.src} alt="botella" />
        </div>
    </div>

    <div class="grid-1">
        <div class="bebida">
            <Bebida
                tituloBebida="Molotov"
                ingredientes="Ingredientes: - 2oz de vodka - Curacao - Jugo de naranja - Fresas - Ron - Jarabe natural"
                metodo="En un vaso con hielos agregar jarabe natural con curacao, después agregar vodka y ron rellenar con jugo de naranja y decorar con fresas"
            />
        </div>
        <div class="imagen-coctel">
            <img src={botellaRon.src} alt="botella" />
        </div>
        <div class="bebida-2">
            <Bebida
                tituloBebida="Go Berry"
                ingredientes="Ingredientes: - 1 a 2 oz de vodka - Jugo de fresa - Fresas - Jugo de naranja"
                metodo="..."
            />
        </div>
        <div class="imagen-coctel-2">
            <img src={botellaRon.src} alt="botella" />
        </div>
    </div>

    <div class="grid-1">
        <div class="bebida">
            <Bebida
                tituloBebida="Conga"
                ingredientes="Ingredientes: - 3oz de jugo de pina - 3 oz de jugo de toronja - 3 oz de jugo de naranja - 1 toque de granadina - 2 oz de vodka - 2 oz de ron"
                metodo="En una copa grande agregar el ron y el vodka después rellenar con lo jugos, piña, toronja naranja y finalizar con el dash de granadina "
            />
        </div>
        <div class="imagen-coctel">
            <img src={botellaRon.src} alt="botella" />
        </div>
        <div class="bebida-2">
            <Bebida
                tituloBebida="Rey Falso"
                ingredientes="Ingredientes: - Kalhua - Vodka - Baileys - Cafe"
                metodo="..."
            />
        </div>
        <div class="imagen-coctel-2">
            <img src={botellaRon.src} alt="botella" />
        </div>
    </div>
    <div class="grid-1">
        <div class="bebida">
            <Bebida
                tituloBebida="Limonada Electrica"
                ingredientes="Ingredientes: - Agua mineral - Jarabe natural - Jugo de limon - 2oz de vodka - Midori"
                metodo="En un vaso con hielo agregar el vodka, jarabe agua mineral y terminar con dash de midori y jugo de limón "
            />
        </div>
        <div class="imagen-coctel">
            <img src={botellaRon.src} alt="botella" />
        </div>
        <div class="bebida-2">
            <Bebida
                tituloBebida="Green Vodka"
                ingredientes="ingredientes: - 2oz vodka - Midori - Ralladura de limon - Jugo de limon - Jarabe natural"
                metodo="En un vaso con hielos agregar vodka, jarabe natural, jugo de limón y finalizar con midori y ralladura "
            />
        </div>
        <div class="imagen-coctel-2">
            <img src={botellaRon.src} alt="botella" />
        </div>
    </div>
    <div class="grid-1">
        <div class="bebida">
            <Bebida
                tituloBebida="Camino Al Cielo"
                ingredientes="Ingredeintes: - Pina colada - Curacao - Vodka - Granadia - Platano - Jugo de limon"
                metodo="Licuar los ingredientes y al finalizar en un vaso relleno de hielo vertir y echar un dash de granadina y jugo de limón "
            />
        </div>
        <div class="imagen-coctel">
            <img src={botellaRon.src} alt="botella" />
        </div>
    </div>
</div>

<style>
    .grid-1 {
        margin: 2em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .bebida {
        grid-area: 1 / 1 / 2 / 2;
        padding: 0.5em;
        margin: 1.5em;
    }
    .imagen-coctel {
        grid-area: 2 / 1 / 3 / 2;
        text-align: center;
    }
    .bebida-2 {
        grid-area: 1/ 2 / 2 / 3;
        padding: 0.5em;
        margin: 1.5em;
    }
    .imagen-coctel-2 {
        grid-area: 2 / 2 / 3 / 3;
        text-align: center;
    }
    .imagen-coctel-2 img {
        width: 12em;
        height: 20em;
        margin: 1em;
        border-radius: 10px;
    }
    .imagen-coctel img {
        width: 12em;
        height: 20em;
        margin: 1em;
        border-radius: 10px;
    }
    .imagen-cocteles {
        text-align: center;
    }
    img {
        border-radius: 1em;
    }
</style>
